name: Deploy - Dev

on:
  push:
    branches: ["dev"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: corepack enable
      - uses: actions/checkout@v6
      - uses: ./.github/actions/build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/deploy
        with:
          aws_account_id: ${{ secrets.AWS_ACCOUNT_ID }}
          aws_region: "us-east-1"
          bucket_name: ${{ secrets.ASTRONOMY_API_DEMO_AWS_S3_BUCKET }}
